{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}
  {% for flash_error in app.flashes('verify_email_error') %}
    <div class="bg-red-500 text-white font-bold p-4 rounded" role="alert">{{ flash_error }}</div>
  {% endfor %}

  <div class="text-center">
    <h1 class="text-2xl font-semibold text-center mb-6">Register</h1>
  </div>
  <div class="max-w-md mx-auto mt-10">
    {{ form_start(registrationForm) }}

    <div class="mb-4">
      {{ form_label(registrationForm.email) }}
      {{ form_widget(registrationForm.email, { attr: { class: 'mt-1 block w-full border border-gray-300 rounded p-2' } }) }}
      <div class="mt-1 text-red-600">{{ form_errors(registrationForm.email) }}</div>
    </div>

    <div class="mb-4">
      <div>{{ form_label(registrationForm.plainPassword.first, 'Password') }}
        {{ form_widget(registrationForm.plainPassword.first, { attr: { class: 'mt-1 block w-full border border-gray-300 rounded p-2' } }) }}</div>
      <div class="mt-1 text-red-600">{{ form_errors(registrationForm.plainPassword.first) }}</div>
    </div>

    <div class="mb-4">
      <div>{{ form_label(registrationForm.plainPassword.second, 'Password Confirmation') }}
        {{ form_widget(registrationForm.plainPassword.second, { attr: { class: 'mt-1 block w-full border border-gray-300 rounded p-2' } }) }}</div>
      <div class="mt-1 text-red-600">{{ form_errors(registrationForm.plainPassword.second) }}</div>
    </div>

    <div>{{ form_end(registrationForm) }}</div>
  </div>
{% endblock %}
